<div style="font-size: small; margin:10px;">
    <table border="0" cellpadding="0" cellspacing="4" align="center">
        <tr>
            <td align="center">
                <a href="#">Nosotros</a>
            </td>
            <td align="center">
                <a href="#">¿Dónde estamos?</a>
            </td>
            <td align="center">
                <a href="#">Términos y condiciones</a>
            </td>
        </tr>
        <tr>
            <td colspan="2"  align="center">
                <p>
                    &copy;2012 Línea de Taxis Los Dinámicos. RIF: J-38846211-0</p>
            </td>
        </tr>
    </table>
</div>
