<div data-role="page" id="start">
    <div data-role="header">
        @Html.Partial("PartialHeader")
    </div>
    <!-- /header -->
    <div data-role="content">
        <h2>
            Hey!</h2>
        <p>
            Ahora puedes pedir un taxi a traves de tu celular tan fácil como revisar el correo.
        </p>
        <ul>
            <li>Pide un taxi desde el lugar en donde te encuentres en Guarenas.</li>
            <li>Espera el mensaje de texto de confirmación de la unidad que te brindará el servicio</li>
            <li>¡Disfruta del viaje!</li>
        </ul>
        <h2>
            ¿Qué deseas hacer?</h3>
            <p>
                <a href="#register" data-role="button">Crear cuenta</a></p>
            <p>
                <a href="#login" data-role="button">Iniciar Sesión</a></p>
    </div>
    <div data-role="footer" data-theme="d">
        @Html.Partial("PartialFooter")
    </div>
</div>
